body{
  display: contents;
}

.navbar{
  float: right;
  margin: 20px;
}

.nav-item{
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.nav-item:hover{
  text-decoration: underline;
}

.main{
  margin-top: 300px;
  text-align: center;
}

.input-area{
  margin-top: 20px;
}

.input-box{
  width: 561px;
  height: 44px;
  border-radius: 24px;
  padding-left: 50px;
  padding-right: 40px;
  border: 1px solid #dfe1e5
}

.search-icon{
  position: relative;
  left: 40px;
  height: 24px;
  width: 24px;
  color: #9aa0a6;
}

.mic-icon{
  position: relative;
  right: 40px;
  height: 24px;
  width: 24px;
  color: #9aa0a6;
}

.button-area{
  padding-top: 18px;
}

.button-style{
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  font-family: arial, sans-serif;
  border-radius: 4px;
  padding: 0 16px; //패딩 값 1개,2개,4개, 1개 : 네방향이 같은 것, 2개 가로방향 위아래, 세로방향 오왼
  margin: 11px 9px
}

//hover이벤트 확인하는 법 - 커서 활용해서 버튼을 클릭한 후 , 우 클릭하면 , focus state 누르면 이벤트 종류대로 나옴 - hover선택 - hover일때의 스타일이 아래에 쭉 뜸 스타일 참고 하면 됨 .
// box-shadow등등 스타일 전체 복사해오면 됨 