.navbar{
  float:right;  
  border:1px solid red;//영역
  margin:20px;
} //상단 네비게이션 바 라고 많이 부름

.nav-item{
  text-decoration: none;
  color: black;
  margin-right: 15px;
} 
} //텍스트 밑줄 지워줄떄 쓰임 !
//글자 색 검정색으로 변경

.nav-item:hover{
  text-decoration: underline;
}

.main{
  margin-top:300px;
}


//display:block (HTML default(고유)속성값)
//dispaly - html태그를 어떤규칙으로 배열을 할거냐
//block 태그들을 수직으로 배열을 함 
//flex 수평 배열(옆으로 배열)
//inline :모든 요소 한줄에 

//element.style{
display: block
}

//요소들을 놓는 규칙 display